<h1>Are you really sure you want to downgrade?</h1><br>
<%=link_to "I changed my mind", @user%><br>

<%=form_with model: @user, url: downgrade_path do |f|%>
  <%if @user.lessons.count >= @user.plan.lesson_limit%>
    <%=f.label :remove_lesson%>
    <p>You must remove at least one lesson to downgrade your account successfully:</p>
    <%=f.collection_select :lessons, @user.lessons, :id, :name_date_trainer%>
  <%end%>
  <%=f.submit "Yeah I hate health"%>
<%end%>
