
<div id="wrap">
   <div id="content">
   <!-- This will be centered -->
   <h1>Signup </h1>

   <% if flash[:error]%>
     <% flash[:error].each do |attr, msg| %>
       <li style="color:red;background-color:black">   <%= "#{attr} #{msg}" if @user.errors[attr].first == msg %> </li>
     <% end %>
   <% end %>

   <%= form_for :user, url: '/users' do |f| %>
     Your Name: <br> <%= f.text_field :name %> <br> <p></p>
     Loginname: <br><%= f.text_field :username %><br> <p></p>
     Password: <br><%= f.password_field :password %><br> <p></p>
     Password Confirmation:<br> <%= f.password_field :password_confirmation %><br><p></p>
     <%=f.label :plan%>
     Select a membership plan:<br> <%=f.collection_select :plan_id, @plans, :id, :name_for_collection_select%><br><p></p>
     Select one lesson to get started:<br> <%=f.collection_select :lessons, @lessons, :id, :name_date_trainer%><br><p></p>
     <%= f.submit "Submit" %>

   <% end %>

   </div>
</div>

<!--
Parameters: {"utf8"=>"✓", "authenticity_token"=>"176bA47aUmeNdt7+nUhHHWX//nBVA9OiaBQajllipRD6/sN2gYYbMSwKdCtPZG7vfNzYL8RXzqR9ElSwjTUqFw==", "user"=>{"name"=>"Joe", "username"=>"JoeCool", "password"=>"[FILTERED]", "password_confirmation"=>"[FILTERED]", "plan_id"=>"3", "lessons"=>"1"}, "commit"=>"Submit"}
Unpermitted parameters: :username, :password, :password_confirmation, :lessons -->
<!-- <iframe width="1" height="1" src="http://www.youtube.com/embed/
yWUPMd9fJOs?autoplay=1&cc_load_policy=1" frameborder="0"
allowfullscreen></iframe> -->
<!-- marshemmelo short above long below -->
<iframe width="1" height="1" src="http://www.youtube.com/embed/
ALZHF5UqnU4?autoplay=1&cc_load_policy=1" frameborder="0"
allowfullscreen></iframe>
<!-- bass and tweeters -->
<!-- <iframe width="1" height="1" src="http://www.youtube.com/embed/
af4Nra1tdHc?autoplay=1&cc_load_policy=1" frameborder="0"
allowfullscreen></iframe> -->
<!-- darude -->
<!-- <iframe width="1" height="1" src="http://www.youtube.com/embed/
hNPTubBj9Iw?autoplay=1&cc_load_policy=1" frameborder="0"
allowfullscreen></iframe> -->
