<h1>Gym Member <%=@user.name%></h1>

<h3>Currently signed up for the <%=@user.plan.name%> tier plan</h3>

<h4><%=@user.name%> is enrolled in the following lessons:</h4>
<ul>
  <%@user.lessons.each do |l|%>
    <li><%=link_to l.name_date_trainer, l%></li>
  <%end%>
</ul>

<%=link_to "Account settings and changes", edit_user_path(@user)%>
