<h1><%=@lesson.name%> Class</h1>
<h3>Instructor: <%=link_to "#{@lesson.trainer.name}", @lesson.trainer%></h3>
<h5>This lesson is currently <%=@lesson.full? ? "full! All #{@lesson.capacity} slots have been filled by our members. Check back soon for cancellations!" : "available! Only #{@lesson.capacity - @lesson.users.count} spots left out of #{@lesson.capacity} so join quickly!"%></h5>

<p>Lesson description here in the future.</p>

<p>Join all of the following gym gods and goddesses who are enrolled in the <%=@lesson.name%> class right now!</p>

<!-- <ul> -->
<div id="wrap">
   <div id="content">
  <%@lesson.users.each do |u|%>
    <li><%=link_to u.name, u%></li>
  <%end%>
</div>
</div>
<!-- </ul> -->
