<h1><%=@plan.name%> Plan</h1>
<h3>Our <%={1 => "base", 2 => "middle", 3 => "highest"}[@plan.level]%> tier fitness plan</h3>

<p>With this plan you'll be able to enroll in up to <%=pluralize(@plan.lesson_limit, " reocurring lesson")%> each week.</p>

<%if @plan.level < Plan.maximum.level%>
  <p>Not enough? Of course, not! Not for you, you absolute beast.</p>
  <%=link_to "Click here to view the next tier up!", @plan.next_level%>
<%end%>

<p>Join all of the following gym gods and goddesses who are enjoying their <%=@plan.name%> plan right now!</p>

<ul>
  <%@plan.users.each do |u|%>
    <li><%=link_to u.name, u%></li>
  <%end%>
</ul>
