<h1>Trainer Info</h1>

<h1><%=@trainer.name%></h1>
<!-- < % =<img src="" alt="">%> -->
<%if @image%>
  <!-- <img src="< %=@image%>" alt=""> -->
  <img src="<%=asset_path(@image)%>" alt=""   height="20%" width="20%" id="littlepic" >
  <span id="pic"  >
    <!-- height:100%; -->
    <img src="<%=asset_path(@image)%>"  id="fullpageimage" style="width:100%; z-index: 2; position: absolute; left: 0px; top: 0px;">
    <!-- <img src="<%=asset_path(@image)%>"  id="fullpageimage" style="width:100%; z-index: 2; "> -->
  </span>

<%end %>
<h3>Lessons held by trainer:</h3>
<!-- <ul> -->
<div id="wrap">
   <div id="content">
  <%@trainer.lessons.each do |lesson|%>
  <li><%=link_to "#{lesson.name} held at #{lesson.time} in #{lesson.room}", lesson_path(lesson)%></li>
  <%end%>
</div>
</div>
<!-- </ul> -->






<script>
// var myIndex = 0;
carousel();

function carousel() {
    // var i;
    var x = document.getElementById("fullpageimage");
    // x.style.height = '100%';
    // for (i = 0; i < x.length; i++) {
    //    x[i].style.display = "none";
    // }
    // myIndex++;
    // if (myIndex > x.length) {myIndex = 1}
    // setTimeout(function(){x.style.display = "none";},2000); // Change image every 2 seconds
    // setTimeout(function(){x.style.width = '20%'; x.style.position="none";x.style.left="auto";x.style.top="auto";x.style.zIndex="1";},2000); // Change image every 2 seconds
    setTimeout(function(){x.style.display = 'none'; x.style.position="none";x.style.left="auto";x.style.top="auto";x.style.zIndex="1";
      var y = document.getElementById("pic");

      },2000); // Change image every 2 seconds
    // x.style.width = "20%";


}
</script>
