<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Membership Plans', plans_path %></li>
  <li><%= link_to 'Lessons', lessons_path %></li>
  <li><%= link_to 'Trainer Team', trainers_path %></li>
  <li><%= link_to 'Members', users_path %></li>
  <%if session[:user_id] %>
    <li><%=link_to "Logout", logout_path%></li>
  <% else %>
    <li><%=link_to "Login", login_path%></li>
    <li> OR </li>
    <li> <%=link_to "Signup", signup_path%></li>
  <!-- if user_loggedin then show login name-->
  <%end%>
  <%= render 'layouts/navigation_links' %>
</ul>
